<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                              
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18943898?query=java%20Odessa">Java Developer for UNIwise (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18944255?query=java%20Odessa">Team Lead Java Developer for UNIwise (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18946870?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18649265?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18912593?query=java%20Odessa">Senior Big Data Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902362?query=java%20Odessa">Senior System Administrator/DevOps</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18832265?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18753346?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18672517?query=java%20Odessa">Software Developer in Test (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18818027?query=java%20Odessa">Java-программист</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Techno art</td> 
     <td class="salary">2&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18924336?query=java%20Odessa">Android developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО webasm</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18924334?query=java%20Odessa">Mid+/Senior PHP developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО webasm</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18614854?query=java%20Odessa">Junior Delevoper</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ENXOO</td> 
     <td class="salary">1&nbsp;000-1&nbsp;100 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18819053?query=java%20Odessa">Android-программист / Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Крот Владислав Дмитриевич</td> 
     <td class="salary">600-600 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18520583?query=java%20Odessa">Водитель такси со своим авто</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Зевс</td> 
     <td class="salary">от 10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>